
.fab-button-new {
    /*background-color: #3F51B5;*/
    position: fixed;
    border-radius: 50%;
    box-sizing: border-box;
    border: medium none;
    z-index: 20;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    transition-property: transform, box-shadow;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
}

.fab-button-new:active  {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
.fab-button-new .icon {
    font-size: 24px;
}
 .r-20{    
    right: 20px;
}
 .r-106{    
    right: 106px;
}
 .r-126{    
    right: 126px;
}

.b-20{    
    bottom: 20px;
}
.b-106{    
    bottom: 106px;
}
.b-126{    
    bottom: 126px;
}

.t-20{    
    top: 20px;
}
.t-106{    
    top: 106px;
}
.t-126{    
    top: 170px;
}

.size-48{    
    width: 48px;
    height: 48px;
}
.size-56{    
    width: 56px;
    height: 56px;
}
.size-30{    
    width: 30px;
    height: 30px;
}
