<ion-modal-view>
    <ion-header-bar class="stable-bg" align="center">
        <div align="center" style="width:100%">
            <img src="icons/logo_small.png" style="height:17px; position:relative; top:25%;">
        </div>

        <button ng-click="closeModal()" class="animated fadeInUpBig fab-button-new t-20 r-20 size-48 light-bg ">
            <i class="icon ion ion-close"></i></button>
    </ion-header-bar>

    <ion-content class="has-header has-footer" ng-controller="setReminderCtrl" ng-init="init()">
        <div class="item stable-bg padding-10" align="center" ng-hide="progressDone">
            <div class="col v-tab-item ">
                <ion-spinner icon="spiral " style="stroke:red;"></ion-spinner>
                <br/> <span class="dark">Refreshing Data</span>
            </div>
        </div>
        <div class="item item-avatar header-section">
            <img ng-src="{{ userData.profFilePath }}" ng-if="userData.profFilePath" ng-click="openImagesPopup(userData.profFilePath)">
            <img src="img/profile-empty.jpg" ng-if="!userData.profFilePath">
            <h2 ng-bind="userData.name">Ravi</h2>
            <h2><span ng-bind="getAge(userData.dob)">24</span> / <span ng-bind="userData.gender_str">Male</span></h2>
            <p ng-bind="userData.email">1MedKey</p>
            <!--<i class="ion icon ion-android-more-vertical header-menu-icon" ng-click="showModal('templates/popups/additional_profile.html')"></i>-->
        </div>

        <div class="item item-devider padding-10">
            <span class="theme_orange ">Set Reminder</span>
        </div>
<!--{{temp.lovedone_list}}-->
        <div class="row" style="margin-bottom: 5px;">
            <div class="col-50">
                <div class="item item-input item-select full-width ">
                    <select style="width:100%" ng-change="onLovedOneChange()" ng-model="temp.loved_one_id" ng-init="getLovedOneList()">
                        <option value="">--select loved one--</option>
                        <option ng-repeat="item in temp.lovedone_list | unique:'Lovedones_Name'" value="{{item.Lovedones_mcura_id +'_'+$index}}">{{item.Lovedones_Name}}</option>
                    </select>

                    <!--<select style="width:100%" ng-init="getLovedOneList()" ng-option="item in temp.lovedone_list" 
                    ng-change="onLovedOneChange(item)" ng-model="temp.loved_one_id"></select>-->
                </div>
            </div>
            <div class="col-50">
                <div class="item item-input item-select full-width">
                    <select style="width:100%" ng-model="temp.purpose_id" ng-init="GetReminderPurpose()">
                        <option value="">--select purpose--</option>
                        <option ng-repeat="item in temp.purpose_list" value="{{item.purpose_id}}">{{item.purpose}}</option>
                    </select>
                </div>
            </div>
        </div>

        <label class="item item-input" style="margin: 0px 5px;">
            <input type="text" ng-model="temp.place" placeholder="Enter hospital/clinic/lab etc.">
        </label>

        <div class="row">
            <div class="col-60">
                <label class="item item-input">
                    <span class="input-label">From</span>
                    <input type="text" ng-model="temp.from_date" ng-focus="pickDate(1)" ng-bind="getDateWithMonthName(temp.from_date)" placeholder="pick a date">
                </label>
            </div>
            <div class="col-40">
                <label class="item item-input">
                    <span class="input-label">&nbsp;</span>
                    <input type="text" ng-model="temp.from_time" ng-focus="pickTime(2)" placeholder="pick time">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-60">
                <label class="item item-input">
                    <span class="input-label">To</span>
                    <input type="text" ng-model="temp.to_date" ng-focus="pickDate(3)" ng-bind="getDateWithMonthName(temp.to_date)" placeholder="pick a date">
                </label>
            </div>
            <div class="col-40">
                <label class="item item-input">
                    <span class="input-label">&nbsp;</span>
                    <input type="text" ng-model="temp.to_time" ng-focus="pickTime(4)" placeholder="pick time">
                </label>
            </div>
        </div>


        <div class="item item-input item-select " style="margin: 0px 5px;">
            <div class="input-label">
                Repetition
            </div>
            <select ng-model="temp.repetition_id" ng-init="GetFavouriteHospital()">
                <option value="">--All--</option>
                <option ng-repeat="item in temp.repetition_list" value="{{item.id}}">{{item.name}}</option>
            </select>
        </div>

        <label class="item item-input item-stacked-label" style="margin: 0px 5px; background-color:white;">
            <span class="input-label">Event Description</span>
            <input type="text" ng-model="temp.event_description" placeholder="any description...">
        </label>

        <!--<div class="list">-->
        <div class="item padding-5" style="background:transparent;border:0px;">
            <div class="button button-orange" style="float:right;width:20%;" ng-click="saveReminder()">Done</div>
            <div class="button button-light" style="float:left;width:20%;" ng-click="closeModal()">Cancel</div>
        </div>
        <!--</div>-->

    </ion-content>
    <!--section footer   -->
    <div class="tabs  tabs-icon-top sub-header-strip">
        <a class="tab-item" ng-click="jumpTo('app.family_calander')">
            <img src="icons/calander.png" /> </br> Calender
        </a>
        <a class="tab-item" ng-click="jumpTo('app.list_loved_ones')">
            <img src="icons/loves_one.png" /> </br> Loved ones
        </a>
        <a class="tab-item" ng-click="jumpTo('app.reminder_list')">
            <img src="icons/reminder.png" /> </br> Reminder
        </a>
        <a class="tab-item" ng-click="jumpTo('app.bill_list')">
            <img src="icons/money.png" /> </br> Bills
        </a>
    </div>
</ion-modal-view>